<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enumerable Planets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h1 th:align="center">Pick-A-Planet: </h1>

<table th:align="center" class="table table-striped table-bordered" style="width:auto">
    <thead>
    <tr>
        <th >Planet Name  </th>
        <th >Earth Days per Year</th>
    </tr>
    </thead>
    <tr th:each ="planet : ${planets}">
        <td th:align="center" th:text="${planet.name}"></td>
        <td th:align="center" th:text="${planet.yearLength}
        + ' Earth days in one year.'"></td>
    </tr>
</table>
</body>
</html>